<div class="container my-5">
<div class="row align-items-center" style="height:200px">

<div class="col">
  ようこそ、ながのCAKEへ！<br>
  このサイトは、ケーキ販売のECサイトになります。<br>
  会員でない方も商品の閲覧はできますが、<br>
  購入には会員登録が必要になります。<br>
</div>


<div class="col">新着商品</div>



<%= @items.last(4).each do |item| %>
<p><%= item.name %></p>
<% end %>
</div>
</div>